spring:
  application:
    name: tandil-trails

  datasource:
    url: jdbc:postgresql://localhost:5433/tandil_trails
    username: TU_USUARIO_DB
    password: TU_PASSWORD_DB
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false

jwt:
  secret: "TU_SECRET_BASE64_AQUI"
  expiration-ms: 86400000

gemini:
  api-key: TU_GEMINI_API_KEY_AQUI